@inject SignInManager<User> signInManager;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        crossorigin=" anonymous">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body>
    <header>
        <!-- This example requires Tailwind CSS v2.0+ -->
        <nav id="header" class="text-gray-900">
            <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
                <div class="relative flex items-center justify-between h-16">
                    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button-->
                        <button type="button"
                            class="inline-flex items-center justify-center p-2 rounded-md text-gray-900 hover:text-white hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                            aria-controls="mobile-menu" aria-expanded="false" id="nav-toggle">
                            <span class="sr-only">Open main menu</span>
                            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex-shrink-0 flex items-center">
                            <img class="block lg:hidden h-8 w-auto"
                                src="https://assets.dryicons.com/uploads/icon/svg/6897/9f914596-0217-419b-a760-d7b4019574ae.svg"
                                alt="Recipe app">
                            <img class="hidden lg:block h-8 w-auto"
                                src="https://assets.dryicons.com/uploads/icon/svg/6897/9f914596-0217-419b-a760-d7b4019574ae.svg"
                                alt="Recipe app">
                        </div>
                        <div class="hidden sm:block sm:ml-6">
                            <div class="flex space-x-4">
                                @if (signInManager.IsSignedIn(User))
                                {
                                    <a href="/Recipe/Index"
                                    class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                                    aria-current="page">Dashboard</a>
                                }
                                else
                                {
                                    <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                                    aria-current="page">Dashboard</a>
                                }

                                @if (signInManager.IsSignedIn(User))
                                {
                                    <a href="/Recipe/MyRecipes" class="text-gray-900 hover:bg-gray-900 hover:text-white px-3 py-2 rounded-md text-sm
                                    font-medium">My Recipes</a>
                                    <a href="/Recipe/Saved" class="text-gray-900 hover:bg-gray-900 hover:text-white px-3 py-2 rounded-md text-sm
                                    font-medium">Saved</a>
                                }

                                @* @* <a href="#"
                                    class="text-gray-900 hover:bg-gray-900 hover:text-white px-3 py-2 rounded-md text-sm
                                    font-medium">Team</a>

                                    <a href="#"
                                    class="text-gray-900 hover:bg-gray-900 hover:text-white px-3 py-2 rounded-md text-sm
                                    font-medium">Calendar</a> *@
                            </div>
                        </div>
                    </div>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <a asp-controller="Recipe" asp-action="Profile" asp-route-userId="" class="text-gray-900 hover:bg-gray-900 hover:text-white px-3 py-2 rounded-md text-sm
                                    font-medium">My Profile</a>
                        <div
                        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit"
                                class="bg-red-600 text-white block px-3 py-2 rounded-md text-base font-medium">Logout</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div
                        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                            <a class="bg-red-600 text-white block px-3 py-2 rounded-md text-base font-medium"
                            asp-controller="Account" asp-action="Login">Login</a>
                        </div>
                    }

                </div>
            </div>

            <div class="hidden" id="nav-content">
                <div class="px-2 pt-2 pb-3 space-y-1">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="/Home/Index"
                        class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
                        aria-current="page">Dashboard</a>

                    <a href="#"
                        class="text-gray-600 hover:bg-gray-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>

                    <a href="#"
                        class="text-gray-600 hover:bg-gray-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>

                    <a href="#"
                        class="text-gray-600 hover:bg-gray-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>


        var navMenuDiv = document.getElementById("nav-content");
        var navMenu = document.getElementById("nav-toggle");

        document.onclick = check;
        function check(e) {
            var target = (e && e.target) || (event && event.srcElement);

            //Nav Menu
            if (!checkParent(target, navMenuDiv)) {
                // click NOT on the menu
                if (checkParent(target, navMenu)) {
                    // click on the link
                    if (navMenuDiv.classList.contains("hidden")) {
                        navMenuDiv.classList.remove("hidden");
                    } else {
                        navMenuDiv.classList.add("hidden");
                    }
                } else {
                    // click both outside link and outside menu, hide menu
                    navMenuDiv.classList.add("hidden");
                }
            }
        }
        function checkParent(t, elm) {
            while (t.parentNode) {
                if (t == elm) {
                    return true;
                }
                t = t.parentNode;
            }
            return false;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
